.box-container {
  background-color: var(--comp-sec-hover);
  transition: all 0.1s ease-in-out;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  min-width: 100%;
  min-height: 8rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  margin: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 10px;
  font-family: var(--font-pr);

  .heading {
    font-size: var(--heading-small);
    color: var(--text-pr);
  }
  .para {
    color: var(--text-sec);
  }
  .fa-plus {
    color: var(--accent-sec);
  }
}

.box-container:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 414px) {
  .box-container {
    width: 350px;

    .box {
      width: 80%;

      .heading {
        font-size: var(--button);
        margin-bottom: 15px;
      }
      .para {
        font-size: var(--para);
      }
    }
  }
}
