.dashboard-Sidebar {
  position: relative;
  background: var(--comp-pr);
  margin: 2rem;
  margin-right: 0;
  padding: 1.5rem;
  display: flex;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-width: fit-content;
  //   max-width: 90%;
  width: 20%;
  min-height: 80vh;

  .name,
  .role {
    font-family: var(--font-pr);
    font-size: var(--heading-small);
    color: var(--accent-sec);
    margin: 1rem 0;
    width: 100%;
  }

  p {
    font-family: var(--font-pr);
    font-size: var(--heading-small);
    color: var(--text-pr);
    margin: 1rem 0;
    width: 100%;
  }

  .logout {
    .log-out {
      border-radius: 10px;
      padding: 1rem 2rem;
      border: none;
      background-color: var(--comp-sec);
      font-family: var(--font-pr);
      font-size: var(--button);
      color: var(--text-pr);
    }

    .log-out:hover {
      background-color: var(--comp-sec-hover);
      cursor: pointer;
    }
  }
}
