.idea-list {
  //   background-color: red;

  .header {
    color: var(--text-pr);
    width: 80%;
    margin: 1rem auto;
    padding: 0;
    border-radius: 10px;
    // background-color: red;

    .head {
      background-color: var(--comp-pr);
      padding: 1rem;
      border-radius: 10px;
      width: 30%;
      margin-left: 4rem;
    }
  }

  .main {
    display: flex;
    width: 100%;

    .main-container,
    .filter-box {
      background-color: var(--comp-pr);
      padding: 1rem;
      margin: 1rem auto;
      border-radius: 10px;
      min-height: 650px;
      height: 700px;
    }

    .main-container {
      width: 70%;
      padding: 2rem;

      .ideas {
        background: linear-gradient(
          283.42deg,
          var(--accent-sec) 22.46%,
          var(--accent-pr) 96.19%
        );
        padding: 1rem;
        border-radius: 10px;
        height: 100%;
        overflow: auto;
      }
    }
    .filter-box {
      width: 20%;
      color: var(--text-pr);
      padding: 2rem;

      .head {
        font-weight: bold;
        font-size: var(--heading-small);
        font-family: var(--font-pr);
      }

      .feedback-container {
        padding: 0;

        .feedback {
          padding: 1rem;
          border-radius: 5px;
          background-color: var(--comp-sec);
          margin: 1rem 0;
          width: 100%;
          transition: all 0.1s ease;
          font-family: var(--font-pr);

          .name {
            cursor: pointer;
            font-size: var(--button);
            font-weight: bold;
          }
        }

        .feedback:hover {
          background-color: var(--bg-pr);
        }
      }
      // button {
      //   color: var(--text-pr);
      //   padding: 0.5rem 1rem;
      //   font-size: var(--button);
      //   font-weight: bold;
      //   background-color: var(--comp-sec);
      //   border-radius: 5px;
      //   border: none;
      //   cursor: pointer;
      // }

      // .field {
      //   margin: 2rem 0;
      //   display: flex;
      //   flex-direction: column;

      //   label {
      //     color: var(--accent-sec);
      //     font-size: var(--heading-small);
      //     font-weight: bold;
      //     font-family: var(--font-pr);
      //     margin-bottom: 1rem;
      //   }

      //   input {
      //     color: black;
      //     padding: 0.5rem;
      //     font-size: var(--heading-small);
      //     font-weight: bold;
      //     font-family: var(--font-pr);
      //     border-radius: 5px;
      //     border: none;
      //     outline-color: var(--accent-sec);
      //   }
      // }
    }
  }
}

@media screen and (max-width: 1024px) {
  .idea-list {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .header {
      width: 100%;

      .head {
        width: 90%;
        font-size: var(--heading-small);
        margin: auto;
      }
    }

    .main {
      width: 100%;
      height: 100%;
      //   flex-direction: column;

      .main-container {
        width: 70%;
        padding: 1rem;
      }

      .filter-box {
        width: 25%;
        height: fit-content;

        .head {
          font-size: var(--button);
        }

        .field {
          label,
          input {
            font-size: var(--span);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .idea-list {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .header {
      width: 100%;

      .head {
        width: 90%;
        font-size: var(--heading-small);
        margin: auto;
      }
    }

    .main {
      width: 100%;
      height: 100%;
      flex-direction: column;

      .main-container {
        width: 95%;
        padding: 1rem;
      }

      .filter-box {
        width: 95%;
        height: fit-content;

        .head {
          font-size: var(--button);
        }

        .field {
          label,
          input {
            font-size: var(--span);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 428px) {
  .idea-list {
    width: 100vw;
    height: 100vh;
    overflow: auto;

    .header {
      width: 100%;

      .head {
        width: 90%;
        font-size: var(--heading-small);
        margin: auto;
      }
    }

    .main {
      width: 100%;
      height: 100%;
      flex-direction: column;

      .main-container {
        width: 95%;
        padding: 1rem;
      }

      .filter-box {
        width: 95%;
        height: fit-content;

        .head {
          font-size: var(--button);
        }

        .field {
          label,
          input {
            font-size: var(--span);
          }
        }
      }
    }
  }
}
