.main-container {
  width: 90%;
  margin: 1rem auto;
  border-radius: 10px;
  height: fit-content;
  background: linear-gradient(
    283.42deg,
    var(--accent-sec) 22.46%,
    var(--accent-pr) 96.19%
  );
  padding: 1rem;
  font-family: var(--font-pr);

  .container {
    padding: 1rem;
    position: relative;

    .verify {
      position: absolute;
      top: 0;
      right: 0;
    }

    .response-inp-radio {
      .radio-inp {
        margin-right: 15px;
      }
      label {
        margin-right: 45px;
      }
    }

    .response-selection {
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-family: var(--font-pr);
      font-size: var(--para);
      background-color: white;
      width: 50%;
    }

    .response-inp {
      width: 50%;
      background-color: transparent;
      padding: 5px;
      font-family: var(--font-pr);
      font-size: var(--para);
      border: none;
      border-bottom: 2px solid black;
    }

    .basic-details {
      display: flex;

      .left,
      .right {
        width: 48%;
        margin: 1rem;

        .row,
        .row-alt {
          margin: 1rem 0;
          .que {
            font-weight: bold;
          }
        }

        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 70%;

          .preview {
            width: 80px;
          }

          .response {
            .profile {
              width: 100px;
              height: 100px;
              border-radius: 5px;
              background-color: white;
            }
          }
        }
      }
    }

    .btn {
      padding: 0.7rem 2rem;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      font-size: var(--button);
      font-weight: bold;
      font-family: var(--font-pr);
      transition: all 0.1s ease;
      margin: 1rem;
      width: fit-content;
      min-width: 350px;
    }
    .btn:hover {
      background-color: rgb(224, 224, 224);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .control-buttons {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }

    .questions {
      margin: 1rem 0;

      .field {
        margin: 1.5rem;
        font-weight: bold;

        .response {
          display: flex;
          align-items: center;
          margin: 10px 0;

          .fill-section {
            width: fit-content;
            height: fit-content;
            padding: 0.5rem;
            border-radius: 5px;
            font-weight: lighter;
            background-color: white;
          }

          .span {
            width: 25px;
            height: 25px;
            margin-right: 10px;
            border-radius: 5px;
            background-color: white;
          }
          .mark {
            background-color: black;
          }

          .options {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    .container {
      .verify {
        position: static;
      }
      .basic-details {
        .left {
          .row {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    .container {
      .verify {
        position: static;
      }
      .basic-details {
        .left {
          .row {
            width: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .main-container {
    width: 350px;

    .container {
      width: 100%;
      padding: 0;

      .verify {
        position: static;
      }

      .response-inp {
        width: 100%;
      }
      .basic-details {
        width: 100%;
        flex-direction: column;

        .left,
        .right {
          margin: 0;
          width: 100%;

          .row {
            flex-direction: column;

            .que {
              margin-bottom: 10px;
            }
            .preview {
              display: none;
            }
          }
        }
      }

      .questions {
        margin: 0;
        width: 100%;

        .field {
          margin: 1.5rem 0;
        }
      }

      .btn {
        width: 300px;
      }

      .control-buttons {
        width: 100%;
        align-items: center;

        button {
          margin: 1rem 0;
          min-width: 300px;
        }
      }
    }
  }
}
