.Cdepartment {
  display: flex;
  flex-direction: column;

  min-width: fit-content;
  min-height: 90vh;

  .option-header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    margin: 1rem;
    margin-left: 3rem;
    min-width: fit-content;
    background-color: var(--comp-pr);

    .head {
      font-size: var(--heading-main);
      font-family: var(--font-sec);
      color: var(--text-pr);
    }
  }

  .container {
    // background-color: var(--comp-pr);
    // margin-left: auto;
    // margin-right: auto;
    width: 95%;
    // display: flex;
    // height: fit-content;
    // overflow: auto;
    // max-height: 80vh;
    // padding: 2rem;
    // border-radius: 10px;
    // justify-content: center;
    // flex-direction: row;
    // flex-wrap: wrap;
    // background-color: green;
    background-color: var(--comp-sec);
    border-radius: 10px;
    padding: 1rem;
    // width: 100%;
    margin: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    overflow: auto;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .Cdepartment {
    .option-header {
      width: 90%;
      margin: auto;

      .head {
        font-size: var(--heading-main);
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .Cdepartment {
    .option-header {
      width: 90%;
      margin: auto;

      .head {
        font-size: var(--heading-med);
      }
    }
  }
}
