.OTP {
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  max-width: 1800px;
  width: 90%;
  margin: 1rem auto;
  height: 780px;
  min-height: 500px;
  font-family: var(--font-pr);
  color: white;
}

.OTP .img_container {
  padding: 3rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.OTP .img_container .otpimage {
  height: 80%;
}

.OTP .otp-container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  position: relative;
}

.OTP .otp-container .otp-form {
  margin: 2rem;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.OTP .otp-container .otp-form .head {
  font-size: var(--heading-main);
  font-weight: bold;
  margin-bottom: 2rem;
}

.OTP .otp-container .otp-form .sub-line {
  font-size: var(--heading-small);
  margin: 1rem;
}

.OTP .otp-container .otp-form .otp_input .otp-field {
  background-color: var(--comp-sec);
  color: white;
  font-weight: bold;
  font-family: var(--font-pr);
  padding: 0.5rem;
  font-size: var(--button);
  text-align: center;
  width: 50px;
  border: none;
  border-radius: 5px;
  margin: 1rem 5px;
}

.OTP .otp-container .otp-form .otp-para {
  font-size: var(--span);
  margin: 1rem 0;
}

.OTP .otp-container .otp-form .otp-para .resend {
  color: var(--accent-sec);
  margin: 10px;
  cursor: pointer;
}

.OTP .otp-container .otp-form .otp-para .resend:hover {
  text-decoration: underline;
}

.OTP .otp-container .otp-form .otp-btn {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: var(--button);
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.OTP .otp-container .otp-form .otp-btn img {
  margin-left: 15px;
}

.OTP .otp-container .otp-form .otp-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 414px) {
  .OTP {
    height: 700px;
    min-height: 650px;
  }
  .OTP .img_container {
    display: none;
  }
  .OTP .otp-container {
    padding: 10px;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .OTP .otp-container .otp-form {
    width: 100%;
    padding: 0;
  }
  .OTP .otp-container .otp-form .head {
    font-size: var(--heading-small);
  }
  .OTP .otp-container .otp-form .sub-line {
    font-size: var(--span);
    font-weight: bold;
  }
  .OTP .otp-container .otp-form .otp_input .otp-field {
    font-size: var(--span);
    width: 35px;
  }
  .OTP .otp-container .otp-form .otp-para {
    font-size: var(--para);
  }
  .OTP .otp-container .otp-form .otp-btn {
    position: static;
    margin: 2rem auto;
  }
}
/*# sourceMappingURL=otp.css.map */