.all-schemes {
  width: 90%;
  margin: auto;

  .header-sec {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    font-family: var(--font-pr);
    background-color: var(--comp-pr);
    color: var(--text-pr);

    .head {
      // font-size: var();
    }

    .filter {
      display: flex;
      align-items: center;
      overflow: hidden;

      .btn-filter {
        // width: 200px;
        width: fit-content;
        color: var(--accent-sec);
        font-size: var(--heading-small);
        font-weight: bold;
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        margin: 1rem 0;
        margin-right: 1rem;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .btn-filter:hover {
        color: var(--accent-pr);
      }
      .active {
        border-bottom: 5px solid white;
      }

      .count {
        width: 30px;
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: center;
        margin: 10px;
        padding: 5px;
        background-color: white;
        border-radius: 100%;
      }
    }
  }

  .scheme-container {
    padding: 1rem;
    background-color: var(--comp-pr);
    margin: 1rem 0;
    border-radius: 10px;
    // display: flex;
    // justify-content: space-evenly;
    // flex-wrap: wrap;

    .static-schemes {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .all-schemes {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
}
