.Scard {
  width: 400px;
  height: 800px;
  min-width: 350px;
  min-height: fit-content;
  border: none;
  border-radius: 10px;
  background-color: var(--comp-pr);
  margin: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: relative;

  header {
    .heading {
      font-size: var(--heading-main);
      color: var(--text-pr);
      font-family: var(--font-pr);
    }
    .verify-icon {
      top: 20px;
      width: 50px;
      right: 20px;
      position: absolute;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .illustration {
      margin-bottom: 4rem;
    }

    .para {
      font-family: var(--font-sec);
      font-size: var(--span);
    }
  }

  footer {
    button {
      padding: 0.5rem 1.5rem;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      color: var(--text-pr);
      background-color: var(--bg-pr);
      font-size: var(--button);
      border: none;
      cursor: pointer;
    }
  }
}

.hover:hover {
  transform: scale(1.04);
  transition: all 0.2s ease;
  background: linear-gradient(
    124.21deg,
    var(--accent-sec) 28.71%,
    var(--accent-pr) 82.09%
  );
}

.disabled-card {
  user-select: none;
  opacity: 0.5;
  cursor: auto;
}

@media screen and (max-width: 414px) {
  .Scard {
    width: 350px;
    height: 300px;
    main {
      .illustration {
        display: none;
      }
    }
  }
}
