.Startup_card {
  transition: all ease-in-out 0.3s;
  background-color: var(--comp-pr);
  height: 750px;
  width: 500px;
  margin: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
  text-align: center;

  .head {
    text-align: center;
    color: var(--text-pr);
    font-size: var(--heading-main);
    margin-bottom: 5rem;
  }

  .para {
    font-size: var(--button);
    font-weight: bold;
    display: inline-block;
    width: 25rem;
    align-self: center;
    margin-bottom: 3rem;
  }

  .btn_div {
    text-align: center;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    display: flex;
    flex-direction: column;

    .btn {
      background: linear-gradient(90deg, var(--accent-sec), var(--accent-pr));
      color: #fff;
      border-radius: 5px;
      margin-bottom: 1rem;
      width: 100%;
      min-height: fit-content;
      padding: 0.5rem;
      height: 2rem;
      transition: all ease-in-out 0.3s;
      font-weight: bolder;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .btn:hover {
      cursor: pointer;
      transform: scale(1.02);
    }

    .btnhover {
      color: #fff;
      border-radius: 5px;
      margin-bottom: 1rem;
      width: 100%;
      min-height: fit-content;
      padding: 0.5rem;
      height: 2rem;
      transition: all ease-in-out 0.3s;
      font-weight: bolder;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: var(--comp-pr);
      cursor: pointer;
    }
  }
}

div:empty {
  display: none;
}

.Startup_card:hover {
  background: linear-gradient(90deg, var(--accent-sec), var(--accent-pr));
  transform: scale(1.05);
}

.Startup_card:hover .btn_div .btn {
  background-color: var(--comp-pr);
}

@media screen and (max-width: 414px) {
  .Startup_card {
    height: 500px;
  }
}
