.internship-card {
  background-color: var(--comp-sec);
  color: var(--text-pr);
  width: 400px;
  height: fit-content;
  height: 300px;
  margin: 1rem;
  border-radius: 5px;
  font-family: var(--font-pr);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
//   overflow: auto;
  transition: all 0.2s ease;

  .head-sec {
    background-color: var(--bg-sec);
    padding: 1rem;
    border-radius: 5px 5px 0 0;
    text-align: center;

    .company-name {
      font-size: var(--heading-small);
    }
  }

  .main-sec {
    text-align: center;
    padding: 1rem;
    font-size: var(--span);
    overflow: auto;
    max-height: 70%;

    .field {
      margin: 0.5rem 0;

      span {
        color: var(--accent-sec);
        font-weight: bold;
      }
    }
  }

  .foot {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .arrow {
      cursor: pointer;
      background-color: transparent;
      border: none;
      transition: all 0.1s ease;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      transition: all 0.2s ease;
    }
    .arrow:hover {
      background-color: var(--comp-pr);
    }

    a {
      padding: 0.5rem 1rem;
      background-color: var(--accent-sec);
      border-radius: 5px;
      cursor: pointer;

      button {
        cursor: pointer;
        color: var(--text-pr);
        background-color: transparent;
        border: none;
        font-size: var(--button);
        font-weight: bold;
      }
    }
    a:hover {
      opacity: 0.8;
    }
  }

  .hidden-sec {
    transition: all 0.2s ease;

    padding: 1rem;
  }
}

.extended-card {
  height: 500px;

  .foot {
    .arrow {
      img {
        transform: rotate(180deg);
      }
    }
  }
}
