@import "./Global/variables.css";
body {
  /* background: linear-gradient(161.09deg, #242424ec, #1d1d1d),
    url(../assets/images/noise.svg); */
  background: var(--bg-pr);
  background-attachment: fixed;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(111.9deg, #fbd11b 26.31%, #f2a31a 87.23%);
  border-radius: 2px;
}

*::-webkit-scrollbar-track {
  background-color: white;
  width: 5px;
  border: 3px solid #242424;
}

*::-webkit-scrollbar-track-piece {
  margin: 10px;
}
